doctype html
html
  head
    title Mentor Bot
    link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/lib/css/main.css')
  body
    nav.navbar.navbar-inverse.navbar-static-top
      ul.nav.navbar-nav
        li
          a(href='#') Home
        li.title.navbar-right
          h3.text-center Mentor Finder
    div.container
      form(method='POST')
        .form-group
          label(for='emailInput') Email address
          input#emailInput.form-control(type='email' name='email' aria-describedby='emailHelp', placeholder='Enter email')
          small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        .form-group
          label(for='phoneInput') Phone Number
          input#phoneInput.form-control(type='tel' name='phone' value='+1 ' required)
          small#phoneHelp.form-text.text-muted example: +1 (555) 555-1597
        button.btn.btn-primary(type='submit') Submit


    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
