extends ./layout.pug

block content
  div.container
    if(msg)
      h1.text-center #{msg}
    if(!registered)
      form(method='POST')
        .form-group
          label(for='emailInput') Email address
          input#emailInput.form-control(type='email' name='email' aria-describedby='emailHelp', placeholder='Enter email')
          small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        .form-group
          label(for='phoneInput') Phone Number
          input#phoneInput.form-control(type='tel' name='phone' value='+1 ' required)
          small#phoneHelp.form-text.text-muted example: +1 (555) 555-1597
        button.btn.btn-primary(type='submit') Submit
