doctype html
html
  head
    title Mentor Bot
    link(rel='stylesheet' href='/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet' href='/lib/css/main.css')
  body
    include ./nav.pug
    block content


    script(src='/lib/jquery/jquery.min.js')
    script(src='/lib/bootstrap/bootstrap.min.js')
